/* Form container */
.form-group {
  background-color: #FFFFFF;
  padding: 20px;
  margin-bottom: 16px;
}

/* Labels */
.control-label {
  font-family: 'Satoshi', sans-serif;
  color: #111111;
  font-size: 14px;
  font-weight: 500;
}

/* Inputs */
input,
textarea {
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Satoshi', sans-serif;
}

